.nav-bor{
    border-bottom: #ff8c00 solid 1px;
}
header {
    min-height: 90px;
    background: transparent;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
}
header i{
    font-size: 30px;
}
.right-menu{
   display: flex;
   justify-content: end;
}
.right-menu img{
    width: 40px;
    padding: 7px;
}